<link rel="stylesheet" href="static/css/reset-password.css">
<div class="container" ng-controller="reset-password-controller">
    <div class="row">
        <div class="col-md-6 d-sm-none d-md-block d-none d-sm-block">
            <img class="image-login" src="static/images/E_BLACK_1.png" alt="Login image" />
        </div>
        <div class="col-12 col-sm-12 col-md-6">
            <div class="title">E-BLACK FORGOT PASWORD</div>
            <div class="sub-title">Welcome back! Forgot your account?</div>
            <form class="form-login step" ng-class="{'actived-step': step == 1}">
                <div class="input-group mb-3 form-login-group">
                    <label class="form-input form-login-lable" for="username">Username: </label>
                    <div class="form-group-message" style="position: relative;">
                        <p>
                            <input placeholder="Please enter username" style="width: 100%; border-radius: 0;"
                                ng-model="username" class="form-control form-login-input " name="username"
                                ng-class="{'is-invalid': username === ''}" id="username" type="text"
                                ng-change="handleInputChange('username')">
                            <i ng-click="handleClearInput('username')"
                                class="fa-regular fa-circle-xmark clear-button"></i>
                        </p>
                        <div class="messages" style="position: absolute; bottom: 0;">
                            <div ng-class="{'display-block': usernameError.empty }" class="message">
                                Username is require.</div>
                            <div ng-class="{'display-block': usernameError.incorrect}" class="message">Username
                                incorrect.</div>
                        </div>
                    </div>
                </div>
                <div class="input-group mb-3 form-login-group">
                    <label for="email" class="form-input form-login-lable">Email: </label>
                    <div class="form-group-message" style="position: relative;">
                        <p>
                            <input placeholder="Please enter email" ng-model="email"
                                ng-change="handleInputChange('email')"
                                style="margin-left: 6px; width: 100%; border-radius: 0;"
                                class="form-control form-login-input" id="email" type="text" name="text"
                                ng-class="{'is-invalid' : email === ''}">

                            <i ng-click="handleClearInput('email')" class="fa-regular fa-circle-xmark clear-button"></i>
                        </p>
                        <div class="messages" style="margin-left: 6px; position: absolute; bottom: 0;">
                            <div ng-class="{'display-block': emailError.empty }" class="message">
                                Email is require.</div>
                            <div ng-class="{'display-block': emailError.incorrect}" class="message">Email
                                incorrect.</div>
                        </div>
                    </div>
                </div>

                <div class="flex-center-all ">
                    <div ng-class="{'hide': !waitingApi}" class="spinner-border text-secondary" role="status"></div>
                    <button ng-class="{'disabled': waitingApi}" type="button" class="btn btn-primary"
                        ng-click="handleNext($event)">Continute</button>
                </div>
            </form>
            <form class="form-login step" ng-class="{'actived-step': step == 2}">
                <div class="input-group mb-3 form-login-group">
                    <label class="form-input form-login-lable" for="otp">Otp code: </label>
                    <div class="form-group-message" style="position: relative;">
                        <p>
                            <input placeholder="Please enter otp" style="width: 100%; border-radius: 0;" ng-model="otp"
                                class="form-control form-login-input " name="otp" ng-class="{'is-invalid': otp === ''}"
                                id="otp" type="text" ng-change="handleInputChange('otp')">
                            <i ng-click="handleClearInput('otp')" class="fa-regular fa-circle-xmark clear-button"></i>
                        </p>
                        <div class="messages" style="margin-left: 6px; position: absolute; bottom: 0;">
                            <div ng-class="{'display-block': otpError.empty }" class="message">
                                Opt code is require.</div>
                            <div ng-class="{'display-block': otpError.incorrect}" class="message">Opt code
                                incorrect.</div>
                        </div>
                    </div>
                </div>
                <div class="flex-center-all">
                    <div ng-class="{'hide': !waitingApi}" class="spinner-border text-secondary" role="status"></div>
                    <button ng-class="{'disabled': waitingApi}" type="button" class="btn btn-primary"
                        ng-click="handleNext($event)">Continute</button>
                </div>
            </form>
            <form class="form-login step" ng-class="{'actived-step': step == 3}">
                <div class="input-group mb-3 form-login-group">
                    <label class="form-input form-login-lable" for="passowrd">Password: </label>
                    <div class="form-group-message" style="position: relative;">
                        <p>
                            <input placeholder="Please enter passowrd" style="width: 100%; border-radius: 0;"
                                ng-model="password" class="form-control form-login-input " name="passowrd"
                                ng-class="{'is-invalid': passowrd === ''}" id="passowrd" type="password"
                                ng-change="handleInputChange('password')">
                            <i ng-click="handleClearInput('passowrd')"
                                class="fa-regular fa-circle-xmark clear-button"></i>
                        </p>
                        <div class="messages" style="margin-left: 6px; position: absolute; bottom: 0;">
                            <div ng-class="{'display-block': otpError.empty }" class="message">
                                Password code is require.</div>
                            <div ng-class="{'display-block': otpError.incorrect}" class="message">Password
                                not allow rule blow.</div>
                        </div>
                    </div>
                </div>
                <div class="input-group mb-3 form-login-group">
                    <label for="confirmPassword" class="form-input form-login-lable">Confirm password: </label>
                    <div class="form-group-message" style="position: relative;">
                        <p>
                            <input placeholder="Please enter confirmPassword "
                                style="margin-left: 6px; width: 100%; border-radius: 0;" ng-model="confirmPassword"
                                class="form-control form-login-input" id="Confirm Password" type="password"
                                name="confirmPassword" ng-class="{'is-invalid' :confirmPassword === ''}"
                                ng-change="handleInputChange('confirmPassword')">
                            <i ng-click="handleClearInput('confirmPassword')"
                                class="fa-regular fa-circle-xmark clear-button"></i>
                        <div class="messages" style="margin-left: 6px; position: absolute; bottom: 0;">
                            <div ng-class="{'display-block': otpError.empty }" class="message">
                                Confirm password code is require.</div>
                            <div ng-class="{'display-block': otpError.incorrect}" class="message">Confirm password not
                                match passowrd.</div>
                        </div>
                        </p>
                    </div>
                </div>
                <div class="flex-center-all ">
                    <div ng-class="{'hide': !waitingApi}" class="spinner-border text-secondary" role="status"></div>
                    <button ng-class="{'disabled': waitingApi}" type="button" class="btn btn-primary"
                        ng-click="handleNext($event)">Complete</button>
                </div>
                <div>
                    <div>Password require:</div>
                    <ul>
                        <li>Minimum 8 characters</li>
                        <li>Have at least 1 upper case character</li>
                        <li>Have at least 1 lower case character</li>
                        <li>Have at least 1 number 0-9</li>
                        <li>Have at least 1 special character</li>
                    </ul>
                </div>
            </form>
            <div class="action mb-pd">
                <div class="lable-action">Did you recall the account?</div>
                <a href="#!login" routerLinkActive="active" ariaCurrentWhenActive="page">Sign in</a>
            </div>
        </div>
    </div>
</div>